.posts {
    flex: 1;
    padding-left: 100px;
    padding-right: 100px;
  }
  h1{
    color: rgba(250, 235, 215, 0.723);
  }
  
  .post {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.078);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .post:nth-child(2n+1){
    flex-direction: row-reverse;
  }
  
  .imageContainer {
    flex: 1;
    position: relative;
  }
  
  .desc{
    width: 70%;
    color:antiquewhite;
  }
  h4{
    color: rgb(221, 215, 250);
  }