<div class="container">
    <div class="item">
        <h1 class="title">
            Rooted in Nature: Growing the World We Love
        </h1>
        <p class="desc">
            Nature's love is a silent, steady heartbeat, a timeless romance we all share. It's the soothing whispers of leaves, the warmth of the sun on our skin, and the gentle caress of the wind. In its simplicity, we find profound beauty and an unspoken connection that binds us to the Earth and each other
        </p>
        <button class="button" routerLink="app-portfolio">See Our Blogs</button>
    </div>
    <div class="item">
        <img class="img" src="https://i.postimg.cc/R0TMMtCF/1627377451-nature-removebg.png" alt="">
    </div>
</div>